<body>
    <section>

        <div class = "cards">
            <div class ="top">
                <form action="upload.php" method="post" enctype="multipart/form-data">  
                    <input type="file" name="Profile Picture" accept="image/*" capture="camera">  
                    <input type="submit" value="Upload">  
                 </form>
                <h3 class = "name">Your Profile<span class = "status"></span></h3>
                <p class = "title">Your Details</p>
            </div>
            <div class = "middle">
                <div class ="time">12:34pm local time</div>
            </div>
            <div  class ="bottom">
                <button class = "profile-action">View Preference</button>
                <button class = "profile-action">Open account Setting</button>
                <button class = "profile-action">Edit Your Project</button>
                <button class = "profile-action">View Your Files</button>
                <button class = "profile-action">Set yourself away</button>
            </div>
        </div>
    </section>
</body>