<body>
   
<div class = "card" style="width: 25rem;">
       <form action="upload.php" method="post" enctype="multipart/form-data">  
        <input type="file" name="Profile Picture" accept="image/*" capture="camera">  
        <input type="submit" value="Upload">  
     </form>
    <div class="card-body">
        <h2 class="card-title name">Your Profile <span class = "status"></span></h2>
        <div class = "bottom">
        <h4 class = "title ">Your Details</h4>
        <button class = "profile-action">View Preference</button>
        <button class = "profile-action">Open account Setting</button>
        <button class = "profile-action">Edit Your Project</button>
        <button class = "profile-action">View Your Files</button>
        <button class = "profile-action">Set yourself away</button>
        </div>


    </div>
</div>
</body>


