@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@500&display=swap");
@import "bootstrap";
@import "variables";




*,
*::after
*::before{
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
}

html{
  font-size: 62.5%;
}


.navbar {
  background-color: #fefefe;
  min-height: 96px;
}

.navbar > .container-fluid {
  padding: 0 80px;
}

.mobile-path {
  display: none;
}

.btn.auth-btn {
  color: $white;
  border-radius: $button_border_radius;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
}

.small-btn {
  width: 130px;
  height: 46px;
}

.btn.login-btn {
  background-color: $primary_green_blue;
  margin-right: 24px;
}

.btn.login-btn:hover {
  border: 1px solid $primary_green_blue;
  background-color: $white;
  color: $primary_green_blue;
}

.btn.register-btn {
  background-color: $primary_purple;
}

.btn.register-btn:hover {
  border: 1px solid $primary_purple;
  background-color: $white;
  color: $primary_purple;
}

.nav-item {
  position: relative;
  margin-left: 24px;
}

.nav-item > .nav-link.nav-link-color {
  color: #898989;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  transition: all 0.4s;
}

.nav-link.nav-link-color.active {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 4px;
    background-color: $primary_purple;
    text-align: center;
  }
}

/* main body css disign */

.main-header {
  background-color: $primary_green_blue;
  min-height: calc(827px - 220px);
  position: relative;
  overflow: hidden;
}

.discription-col {
  color: #fff;
}

.main-discription {
  margin-left: 100px;
}

.z-index-handler {
  position: relative;
  z-index: 23;
}

.discription-header {
  font-family: "Lora";
  font-weight: 700;
  font-size: calc(32px + (100vw/44));
  margin-top: 40px;
}

.discription-header-sub {
  font-size: calc(24px + (100vw/216));
}

.doctor-search {
  padding: 24px;
  background-color: #ebebeb;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 7;
}

.search-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  background-color: $white;
  border-radius: $button_border_radius;
}

.doctor-search > .d-lg-flex {
  width: 100%;
}

.doctor-search > .d-lg-flex > .col {
  width: 100%;
  margin-bottom: 10px;
}

.doctor-search > .d-lg-flex > .col:not(:last-child) {
  margin-right: 10px;
}

.search-input > .no-border {
  border: none;
  background-color: inherit;
  width: 100%;
  outline: none;
}

.search-input > .no-border:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: inherit;
}

.doctor-search > .search-btn {
  background-color: $primary_purple;
  margin-top: 1rem;
  width: 100%;
}

.doctor-search > .search-btn:hover {
  color: $white;
}

.doctor-search > .search-btn:focus {
  border: none;
  box-shadow: none;
}

.complain-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 24px;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.complain-field > .complain-input {
  padding: 1rem 0.3rem;
  background-color: inherit;
  border: none;
}

.complain-field > .complain-input:focus {
  box-shadow: none;
}

.complain-field > .complain-dropdown-btn {
  background-color: $primary_purple;
  width: 5rem;
  height: 3rem;
}

.left-dot {
  position: absolute;
  left: 0;
  top: 0;
}

.right-dot {
  position: absolute;
  right: 0;
  top: 0;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 88;
}

@media screen and (max-width: 1199px) {
  .navbar > .container-fluid {
    padding: 0 10px;
  }

  .nav-link.nav-link-color.active::after {
    left: 5%;
    width: 100px;
  }

  .main-discription {
    margin-left: 50px;
  }

  .discription-col {
    margin: 10px;
  }
}

.man-section-600 {
  display: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: wrap !important;
    justify-content: flex-start;
  }

  .nav-item {
    margin-left: 16px;
  }

  .nav-link.nav-link-color.active::after {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    height: 88px;
  }

  .navbar-toggler {
    display: none !important;
  }

  .navbar > .container-fluid {
    padding: 0 10px;
  }

  .main-logo {
    width: 100px;
    height: 56px;
  }

  .nav-bar-destop {
    display: none;
  }

  .mobile-path {
    display: flex;
    align-self: center;

    & > .search-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-right: 1px solid #89898966;
    }

    .auth-user-icon {
      width: 20px;
      height: 20px;
    }

    & > .mobile-login-btn {
      color: $primary_green_blue;
      border-right: 1px solid #89898966;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      text-decoration: none;

      & h3 {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0;
      }

      .signout {
        color: $primary_purple;
        margin: 0 5px;
        margin-top: 5px;
      }
    }

    & > .mobile-register-btn {
      color: $primary_purple;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;

      & h3 {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }

  .main-discription {
    margin: 0;
  }

  .man-section {
    display: none;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
  }

  .mobile-icon {
    padding: 0 10px;
  }

  .man-section-600 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .doctor-img {
    width: 240px;
    height: 240px;
  }

  .doctor-search {
    margin-top: -50px;
  }

  .right-dot {
    display: none;
  }

  .complain-field {
    margin-bottom: 30px;
  }
}

//Index


*{   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
 font-family: sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.7;
 color:#777;
 padding: 30px;
}


.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom,
  rgba(126, 213, 111, 0.8),
  rgba(20, 180, 131, 0.8)), 
  url("header.jpeg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);


}

.logo-box{
position: absolute;
top: 10px;
left: 10px;
}

.logo{
  height: 25px;
  border-radius: 20px;
  
}




.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;

}
.heading-primary-main {
  display: block;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 30px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 15px;
  animation: moveInRight 2s ease-in-out

}

@keyframes moveInLeft{
  0%{
      opacity: 0;
      transform: translateX(-100px);

  }

  80% {
   transform: translateX(10px);
  }
  
  100%{
      opacity: 1;
      transform: translate(0);
  }
}


@keyframes moveInRight{
  0%{
      opacity: 0;
      transform: translateX(100px);

  }

  80% {
   transform: translateX(-10px);
  }
  
  100%{
      opacity: 1;
      transform: translate(0);
  }
}


.text-box {
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn-btn:link, 
.btn-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  
}

.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0,.2);
  
}

.btn-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
}

.btn-white {
  background-color: #fff;
  color:#777;
  font-size: 20px;
}


.btn-btn::after{
  content: "";
  display: inline-block;
  height: 0%;
  width: 90%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: all .4s;
}

.btn-white::after{
  background-color: #fff;
  opacity: 0;
}


.btn-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

// //Profile
*{
  box-sizing: border-box;
}

body{
  font-family: "OPen Sans", sans-serif;
  color: #222;
}

.cards{
  height: 475px;
  width:325px;
  box-shadow: 0px 5px 15px 0px 
  rgba(153,153,153,0.5);
  border-radius: 4px;
}

.top{
height: 55%;
border-radius: 4px 4px 0px 0px;
border: 1px solid #ddd;
padding: 0px 16px;
}

.name{
  padding-top: calc(475px-0.40);
  margin: 0px;
}

.status{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 3px;
  border-radius: 5px;
  background-color: #60D156;
}

.title{
  margin-top: 8px;
}
.middle{
  height: 40%;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  padding: 0px 16px;
}

.time{
  color:#444;
  font-size: 0.8em;
  padding-top: 0.2em;
}
.bottom{
  height: 40%;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #DDD;
  padding: 4px 16px;
}

.profile-action{
  display: block;
  width: 100%;
  height:32px;
  font-size: 1em;
  text-align: left;
  border: 0px;
  background-color: white;
}
.profile-action:hover{
  background-color: #00A5D2;
  color: white;
}

//login
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@500&display=swap");

.welcome-message {
  font-family: "Open Sans";
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 27px;
  color: #2b2b2b;
}

/* This container is for create account */

/* main body */

.form-container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 97px);
  background: $primary_green_blue;
  border-radius: 10px 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: none;
  order: 0;
  flex-grow: 0;
  position:absolute;
}

.login-login {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 30px;
  color: $primary_purple;
  margin-top: 40px;
}

.form-group label,
.password,
.email {
  color: #7a7a7a;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.015em;
}

.input-fill {
  width: 100%;
  border: 1px solid#d0d0d0;
  border-radius: 8px;
  margin-bottom: 15px;
  border-color: #d0d0d0;
  color: $primary_white;
}

.form-control.input-fill:focus {
  box-shadow: none;
}

.password-image {
  /* Password see image */
  background-image: url ("google_login/password-logo.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #0000;
  border-radius: 0.24rem;

  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; *
  -webkit-appearance: none;
  -moz-appearance: none;  */
  appearance: none;
}

.button-log {
  padding: 10px 51px;
  gap: 10px;
  width: 100%;
  background: $primary_purple;
  border-radius: 16px;
  margin-bottom: 15px;
  color: $primary_white;
}

.button-log-google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 51px;
  gap: 10px;
  width: 100%;
  background: $primary_white;
  border-radius: 16px;
  border: 1px solid#814A95;
  color: #000;
  text-decoration: none;
}

.text-or {
  margin: 6px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.or {
  width: 23px;
  height: 23px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.015rem;
  color: #898989;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.shift-google {
  margin-bottom: 10px;
}

.shift-facebook {
  margin-top: 1px;
  margin-bottom: 10px;
}

.link-account {
  height: 44px;
  line-height: 44px;
  display: inline;
  color: #ffff;
  margin-top: 16px;
  margin-bottom: 17px;
}

.have-account {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  /* identical to box height */
  color: #ffff;
  text-decoration: none;
  display: inline;
}

.account-login {
  color: #ffff;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;

  &:hover {
    color: #fff;
  }
}

.forgotten-password {
  width: 150px;
  height: 25px;
  display: inline;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #814a95;
}

//Register
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@500&display=swap");

/* Container for login */

/* Main body that has green color */
.form-container-login {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 97px);
  background: $primary_green_blue;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.container-login {
  width: 50%;
  min-height:calc(100vh-97px);
  border-radius: 16px;
  background: $primary_white;
  align-items: center;
  padding: 0 50px;
  margin-top: 20px;
}

.container-login.register {
  height: 100%;
  padding-right: 109px;
}

.submit-email {
  margin: 20px 0;
}

.password-link:hover {
  color: #000;
}
